Deny from all

<FilesMatch "^cookieboxScript\.php$">
Allow From All
</FilesMatch>

<FilesMatch "^cookieboxStyle\.php$">
Allow From All
</FilesMatch>

<FilesMatch "^cookieboxFrame\.php$">
Allow From All
</FilesMatch>